<launch>

<rosparam file="$(find ERC22_URDF_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="ERC22_URDF" args="Revolucion34_position_controller Revolucion35_position_controller Revolucion36_position_controller Revolucion37_position_controller Revolucion38_position_controller Revolucion39_position_controller Revolucion40_position_controller Revolucion41_position_controller Revolucion42_position_controller Revolucion43_position_controller Revolucion44_position_controller Revolucion45_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/ERC22_URDF/joint_states"/>
</node>

</launch>